body {
	font-family: "Avenir", sans-serif;
	text-align: center;
}

h1 {
	font-size: 60px;
	color: #32037A;
}

h2 {
	font-size: 28px;
	color: #32037A;
}

h3 {
	font-size: 20px;
	color: #32037A;
}



.Site-wrapper {
	max-width: 1400px;

}



.MainMenu {
	text-align: center;

}

.MainMenu a {
	margin: 20px 10px 10px 0;

}



.Intro {
	background-color: #380C78;
	height: 700px;
}

.Intro-ticketCta {
	background-color: #5EFCDB;
	text-transform: uppercase;
}




.CurrentEvents {

}

.CurrentEvents-Barcelona {

}

.CurrentEvents-Berlin {

}

.CurrentEvents-date {

}


.Courses {

}

.Courses-event {

}



