body {
	font-family: "Avenir", sans-serif;
	text-align: center;
}

h1 {
	font-size: 70px;
	color: white;
	font-weight: bold;
}

h2 {
	font-size: 28px;
	color: white;
	text-transform: uppercase;
	margin-top: 40px;
	font-weight: lighter;
	text-decoration: italic, ; 
}

h3 {
	font-size: 20px;
	color: #32037A;
	margin-top: 10px;
}



.Site-wrapper {
	max-width: 1400px;

}



.MainMenu {
	text-align: center;
	padding-top: 10px;
	background-color: #380C78;

}

.MainMenu a {
	margin: 20px 10px 10px 0;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;


}



.Intro {
	background-color: #380C78;
	height: 500px;
}

.Intro-section {
	position: center;
	text-align: center;
}

.Intro-ticketCta {
	height: 60px;
	width: 150px;
	background-color: #5EFCDB;
	border: #5EFCDB;
	color: #380C78;
	text-transform: uppercase;
	border-radius: 50px;

}




.CurrentEvents {

}

.CurrentEvents-Barcelona {

}

.CurrentEvents-Berlin {

}

.CurrentEvents-date {

}


.Courses {

}

.Courses-event {

}



